*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
min-height:100vh;
}

header{
text-align:center;
padding:25px;
font-size:20px;
}

.crypto-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:30px;
}

.crypto-card{
background:rgba(255,255,255,0.1);
backdrop-filter:blur(12px);
padding:20px;
border-radius:15px;
text-align:center;
transition:0.3s;
}

.crypto-card:hover{
transform:translateY(-5px);
}

.crypto-card img{
width:50px;
height:50px;
margin-bottom:10px;
}

.price{
font-size:20px;
margin:10px 0;
}

.green{
color:#4caf50;
}

.red{
color:#ff4d4d;
}
